body{
 height: auto;
 width: auto;
 background: #8a2be2;
 background: linear-gradient(
    to right
    #431370,
    #8a2be2
 );
 background: linear-gradient(to right, #313231, #b7bdc0);
}

.toggle{
    position: relative;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .onoff {
    color: #e7eff1;
    font-size: 6em;
    text-align: center left;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #f3f3f3;
    transition: .4s;
    width: 200px;
    height: 120px;
}

.slider::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #313231;
    transition: .4s;
    top: 10px;
    left: 10px;
}

input:checked + .slider {
    background-color: #8d8d8d;
}

input:checked + .slider:before{
    transform: translateX(80px);
}

.slider {
    border-radius: 20px;
}
.slider::before {
    border-radius: 20px;
}
