body{
    background-color: rgb(48, 48, 48);
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button {
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;  
    }
}
