body {
    background-color: lightslategray;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

@media only screen and (max-width: 600px) {

    body {
        font-size: 16px; 
    }
    video {
        width: 80%;
    }
}

button {
    padding: 7px;
    cursor:pointer;
}

input {
    font-size: 20px;
}

video {
    width: 100%;
    height: auto;
}

#bunton{
    border-radius: 5px;
    text-align: right;
    position: relative;
    background-color: transparent;
    border-color: transparent;
    color: lightslategray;
    size: 50px;
    font-size: 100px;
}