body {
    background-color: lightslategray;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

/* Add this to your existing CSS file or create a new one */
@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px (typical for mobile) */
    body {
        font-size: 16px; /* Adjust font size for better readability on smaller screens */
        /* Add more styles as needed */
    }
}
